// Imports
@import "../modules/variables.scss";

@mixin footer {
    background-color: #1c5a84;

    .layer-1 {
        padding: 4rem 0;

        b {
            color:#3c9aff;
        }

        strong {
            display: block;
            color: #ededed;
            font-size: 1.6rem;
            line-height: 200%;
            margin-bottom: 1.5rem;
            margin-top: 2rem;

            a {
                color:#3c9aff;
                font-size: 1.6rem;
            }

            small {
                color: #3c9aff;
            }
        }

    

        p {
            small {
                color: #ededed;
            }
        }

        a {
            display: block;
            color:  #ededed;
            font-size: 1.3rem;
            line-height: 200%;
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                display: block;
                margin: 0 0 1rem;

                span {
                    font-size: 1.6rem;
                }
            }
        }

        .info {
            .item {
                p {
                    color: map-get($colors, white);
                    font-size: 1.4rem;
                    margin: 0 0 2rem 0;

                    span {
                        img {
                            position: relative;
                            top: .2rem;
                            margin: 0 1rem 0 0;
                        }
                    }

                    strong {
                        border-bottom: none;
                        font-size: 1.6rem;
                        line-height: 140%;
                        margin: 0;
                    }
                }
            }
        }
    }

    .layer-2 {
        background-color:#CCDFFF;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;

            small {
                color: map-get($colors, primary);
                font-size: 1.4rem;
            }

            a {
                color: map-get($colors, primary);
                font-size: 1.4rem;
            }
        }
    }

    // media queries
    @media (max-width: 767px) {

        /* portrait && landscape */
        .layer-1 {
            padding: 5rem 0;
            text-align: center;

            .align-items-center {
                justify-content: center;
            }

            .info {
                .item {
                    p {
                        flex-wrap: wrap;
                    }
                }
            }
        }

        .layer-2 {
            .wrapper {
                flex-wrap: wrap;
                justify-content: center;

                small {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }


}
